* {
  margin: 0;
  padding: 0;
}
body {
  background: url(/image/bg-img2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: cornsilk;
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
  font-family: Poppins, sans-serif;
}
.main-container {
  padding: 2rem;
  margin-top: 50px;
  width: 35%;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 70px;
  margin-bottom: 50px;
}
.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.box p {
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  color: gold;
}
.box span {
  padding-left: 10px;
  color: aquamarine;
}
@media screen and (max-width: 630px) {
  .main-container{
   width: 70%;
  }
  .box {
    height: 60px;
  }
  .box p {
    text-align: left;
    width: 100%;
  }
  .box span {
    margin-top: 10px;
    width: 100%;
    text-align: left;
  }
}
